<p>
	<a [routerLink]="['/dashboard']">All Appointments</a> --
	<a [routerLink]="['/add']">Add New Appointment</a>
	<a [routerLink]="['/logout']">Logout</a>
</p>
<!-- <label *ngIf='errMessage' [(ngModel)]="errMessage" name="errMessage">{{ errMessage }}</label> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

{{errMessage}}

<form (submit)="onSubmit()" #formData='ngForm'>
Date: <input #appointdate='ngModel' type="date" required name="appointmentdate" [(ngModel)]='appointmentdate'>{{ appointmentdate | json}} &nbsp; 
<label *ngIf='!appointdate.valid'>please enter a date</label><br>

Time<select name="appointmenttime" [(ngModel)]='appointmenttime' required #appointtime='ngModel'>
	<option value="8:00 AM">8:00 AM</option>
	<option value="9:00 AM">9:00 AM</option>
	<option value="10:00 AM">10:00 AM</option>
	<option value="11:00 AM">11:00 AM</option>
	<option value="12:00 PM">12:00 PM</option>
	<option value="1:00 PM">1:00 PM</option>
	<option value="2:00 PM">2:00 PM</option>
	<option value="3:00 PM">3:00 PM</option>
	<option value="4:00 PM">4:00 PM</option>
	<option value="5:00 PM">5:00 PM</option>
</select>
{{ appointmenttime | json}}
<label *ngIf='!appointtime.valid'>please enter a time</label>
<br>

Complaint:<br> <textarea name="complaint" [(ngModel)]="complaint" #complainttext='ngModel' required minlength='10'></textarea>
<label *ngIf='!complainttext.valid'>please enter a complaint with more than 10 characters</label><br>
{{ complaint | json}}
<input type='submit' value="Add Appointment" [disabled]="!formData.valid">
</form>